.description
  %p ペアプルはパートナーといっしょにやりたいことを登録しておくサービスです。
  %p
    登録した内容はランダムにプル（引き出す）できます。表示される内容はパートナーと同じです。
    %br
    パートナーといっしょにしたいと思っていること、パートナーが自分といっしょにしたいと思っていることを共有してみませんか？

.control-form
  %legend はじめる
  .control-group
    .controls
      = link_to 'ログイン', 'users/sign_in'
      %br
      = link_to 'Sign Up' , 'users/sign_up'
    .controls
      入る