.description
  %p ペアプルはパートナーといっしょにやりたいことを登録しておくサービスです。
  %p
    登録した内容はランダムに引き出すことができます。引き出した内容はあなたとパートナーで共有しています。
    %br
    パートナーといっしょにやりたいこと、パートナーがあなたといっしょにやりたいと思っていることをシェアしてみませんか？

.control-form
  %legend はじめる
  .control-group
    -if user_signed_in?
      .controls
        = link_to '入る', "users/#{current_user.id}", {:class => 'btn'}
    -else
      .controls
        = link_to 'ログイン', 'users/sign_in', {:class => 'btn'}
        %br
        = link_to '新規登録' , 'users/sign_up'
